{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <div class="row align-items-center">
       <div class="col">
          <h3 class="page-title">Students</h3>
          <ul class="breadcrumb">
             <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
             <li class="breadcrumb-item active">Feedback</li>
          </ul>
       </div>
       <div class="col-auto text-right float-right ml-auto">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"> <i class="fas fa-comment"></i> Feedback History</button>
       </div>
    </div>
 </div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'staff_feedback_save' %}">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-12">
                           <h5 class="form-title"><span>Send Feedback</span></h5>
                           {% if messages %}
                        {% for messages in messages %}
                        {% if messages.tags  == 'success' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{messages}}
                         </div>
                         {% endif %}
                         {% endfor %}
                         {% endif %}
                        </div>
                        <div class="col-sm-11">
                            <div class="form-group">
                               <label>Your Feedback</label>
                               <textarea  required class="form-control" name="feedback" style="height: 250px;" required></textarea>
                            </div>
                         </div>
                        
                        <div class="col-12">
                           <button type="submit" class="btn btn-primary">Send Feedback</button>
                        </div>
                     </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Leave Apply History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
                <div class="col-sm-12">
                   <div class="card card-table">
                      <div class="card-body">
                         <div class="table-responsive">
                            <table id="table_id" class="table table-hover table-center mb-0">
                               <thead>
                                  <tr>
                                     <th>ID</th>
                                     <th>Feedback</th>
                                     <th>Reply</th>
                                  </tr>
                               </thead>
                               <tbody>
                                 {% for i in feedback_history %}
                                  <tr>
                                     <td>{{ i.id }}</td>
                                     <td>
                                        <h2 class="table-avatar">
                                           <a href="student-details.html">{{i.feedback}}</a>
                                        </h2>
                                     </td>
                                     <td>
                                        <div class="actions text-right">
                                            {% if i.feedback_reply == "" %}
                                            <span class="badge badge-warning">No reply</span>
                            
                                            {% else %}
                                            <span class="badge badge-danger">{{i.feedback_reply}}</span>
                                            {% endif %}
                                        </div>
                                     </td>
                                  </tr>
                                  {% endfor %}
                               </tbody>
                            </table>
                         </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>
</div>


{% endblock  %}