{% load static %}

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
       <div id="sidebar-menu" class="sidebar-menu">
         {% if user.user_type == '1' %}
          <ul>
             <li class="menu-title">
                <span>Main Menu</span>
             </li>
             <li>
               <a href="{% url 'hod_home' %}"><i class="fas fa-user-graduate"></i> <span>DashBoard</span></a>
            </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href={% url 'view_student' %}>Student View</a></li>
                   <li><a href={% url 'add_student' %}>Student Add</a></li>
            
                </ul>
             </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'add_staff' %}">Teacher Add</a></li>
                   <li><a href="{% url 'view_staff' %}">Teacher View</a></li>
                </ul>
             </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-building"></i> <span> Course</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'view_course' %}">Course List</a></li>
                   <li><a href="{% url 'add_course' %}">Course Add</a></li>
                   <li><a href="edit-department.html">Course Edit</a></li>
                </ul>
             </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'view_subject'%}">View Subject</a></li>
                   <li><a href="{% url 'add_subject'%}">Subject Add</a></li>
                   <li><a href="edit-subject.html">Subject Edit</a></li>
                </ul>
             </li>

             <li class="submenu">
               <a href="#"><i class="fas fa-book-reader"></i> <span> Session</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'view_session'%}">View Session </a></li>
                  <li><a href="{% url 'add_session'%}"> Add Session </a></li>
               
               </ul>
            </li>
             
             <li>
               <a href="{% url 'staff_send_notification' %}"><i class="fas fa-holly-berry"></i><span>Send Staff Notification</span></a>
             </li>

             <li>
               <a href="{% url 'student_send_notification' %}"><i class="fas fa-holly-berry"></i><span>Send Student Notification</span></a>
             </li>

             <li>
               <a href=""><i class="fas fa-holly-berry"></i><span>View Attendence</span></a>
             </li>

             <li>
               <a href="{% url 'staff_feedback' %}"><i class="fas fa-holly-berry"></i><span>Staff Feedback</span></a>
             </li>

             <li>
               <a href=""><i class="fas fa-holly-berry"></i><span>Student Feedback</span></a>
             </li>

            
             <li>
               <a href=""><i class="fas fa-holly-berry"></i><span>Student Leave</span></a>
             </li>

             <li>
               <a href="{% url 'staff_apply_leave' %}"><i class="fas fa-holly-berry"></i><span>Staff Leave</span></a>
             </li>

             <li>
               <a href=""><i class="fas fa-holly-berry"></i><span>Logout</span></a>
             </li>
          </ul>
          
          {% elif user.user_type == '2' %}
          <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li>
              <a href="{% url 'hod_home' %}"><i class="fas fa-user-graduate"></i> <span>DashBoard</span></a>
           </li>

           <li>
            <a href="{% url 'staff_take_attendence' %}"><i class="fas fa-user-graduate"></i> <span>Take Attendence</span></a>
         </li>

         <li>
            <a href="{% url 'hod_home' %}"><i class="fas fa-user-graduate"></i> <span>Update Attendence</span></a>
         </li>

         <li>
            <a href="{% url 'hod_home' %}"><i class="fas fa-user-graduate"></i> <span>Add Result</span></a>
         </li>

         <li>
            <a href="{% url 'staff_apply_leave' %}"><i class="fas fa-user-graduate"></i> <span>Apply For Leave</span></a>
         </li>

         <li>
            <a href="{% url 'staff_feedback' %}"><i class="fas fa-user-graduate"></i> <span>Send Feedback</span></a>
         </li>

         <li>
            <a href="{% url 'notification' %}"><i class="fas fa-user-graduate"></i> <span>Notifications</span></a>
         </li>

         <li>
            <a href="{% url 'hod_home' %}"><i class="fas fa-user-graduate"></i> <span>Logout</span></a>
         </li>

          </ul>
          {% else %}
         
          <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li>
              <a href="{% url 'student_home' %}"><i class="fas fa-user-graduate"></i> <span>DashBoard</span></a>
           </li>

           <li>
            <a href="{% url 'student_home' %}"><i class="fas fa-user-graduate"></i> <span>View Attendence</span></a>
         </li>

         <li>
            <a href="{% url 'student_home' %}"><i class="fas fa-user-graduate"></i> <span> View Result</span></a>
         </li>

         <li>
            <a href="{% url 'student_home' %}"><i class="fas fa-user-graduate"></i> <span>Apply For Leave</span></a>
         </li>

         
         <li>
            <a href="{% url 'student_home' %}"><i class="fas fa-user-graduate"></i> <span>Send Feedback</span></a>
         </li>
         
         <li>
            <a href="{% url 'student_home' %}"><i class="fas fa-user-graduate"></i> <span>Notifications</span></a>
         </li>
         
         <li>
            <a href="{% url 'student_home' %}"><i class="fas fa-user-graduate"></i> <span>Logout</span></a>
         </li>


      </ul>

          {% endif %}
         

       </div>
    </div>
 </div>