{% extends "base.html" %} 
{% block content %}

<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Add Subject</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="subjects.html">Subject</a></li>
          <li class="breadcrumb-item active">Add Subject</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

        {% if messages %}
                        {% for messages in messages %}
                        {% if messages.tags  == 'success' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{messages}}
                         </div>
                         {% endif %}
                         {% endfor %}
                         {% endif %}

      <div class="card">
        <div class="card-body">
          <form action="{% url 'add_subject' %}" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <h5 class="form-title"><span>Subject Information</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Subject Name</label>
                  <input type="text" class="form-control" name="subject_name" required  />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <label>Select Course</label>
                <select class="form-control" name="course" required>
                  <option>Select Course</option>
                  {% for i in course %}
                  <option value="{{i.id}}">{{i.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-12 col-sm-6">
                <label>Teacher</label>
                <select class="form-control" name="staff" required>
                  <option>Select Teacher</option>
                  {% for i in staff %}
                  <option value="{{i.id}}">{{i.admin.first_name}}&nbsp; {{i.admin.last_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-12 mt-4">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
