{% extends "base.html" %} 
{% block content %}

<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Add Session</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="subjects.html">Add Session</a></li>
          <li class="breadcrumb-item active">Add Session</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

        {% if messages %}
                        {% for messages in messages %}
                        {% if messages.tags  == 'success' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{messages}}
                         </div>
                         {% endif %}
                         {% endfor %}
                         {% endif %}

      <div class="card">
        <div class="card-body">
          <form action="{% url 'add_session' %}" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <h5 class="form-title"><span>Session Information</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Session Start</label>
                  <input type="date" class="form-control" name="session_year_start" required  />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Session End</label>
                    <input type="date" class="form-control" required  name="session_year_end" />
                  </div>
              </div>
        
              <div class="col-12 mt-4">
                <button type="submit" class="btn btn-primary">Add Session</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
