{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'update_course' %}" >
                  {% csrf_token %}

                    <div class="row">
                        <div class="col-12">
                           <h5 class="form-title"><span>Edit Course</span></h5>
                           {% if messages %}
                        {% for messages in messages %}
                        {% if messages.tags  == 'success' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{messages}}
                         </div>
                         {% endif %}
                         {% endfor %}
                         {% endif %}
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Course Name</label>
                              <input type="text" class="form-control" name="course_name" value="{{course.name}}"  required>
                              <input type="text" class="form-control" name="course_id" value="{{course.id}}" hidden required>
                           </div>
                        </div>
                        
                        <div class="col-12">
                           <button type="submit" class="btn btn-primary">Update Course</button>
                        </div>
                     </div>
                </form>
            </div>
        </div>
    </div>
</div>






{% endblock  %}