{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'update_student' %}">
                  {% csrf_token %}

                    <div class="row">
                        <div class="col-12">
                           <h5 class="form-title"><span>Edit Student Information</span></h5>
                           {% if messages %}
                        {% for messages in messages %}
                        {% if messages.tags  == 'success' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{messages}}
                         </div>
                         {% endif %}
                         {% endfor %}
                         {% endif %}
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>First Name</label>
                              <input type="text" class="form-control" name="first_name" value="{% for i in student  %}{{i.admin.first_name}}{% endfor %}" >

                              <input type="text" class="form-control" name="student_id" value="{% for i in student  %}{{i.admin.id}}{% endfor %}" hidden >
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Last Name</label>
                              <input type="text" class="form-control" name="last_name"  value="{% for i in student  %}{{i.admin.last_name}}{% endfor %}" >
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Email</label>
                              <input type="email" class="form-control" name="email"  value="{% for i in student  %}{{i.admin.email}}{% endfor %}"  >
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Username</label>
                              <input type="text" class="form-control"  value="{% for i in student  %}{{i.admin.username}}{% endfor %}"  name="username" >
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Password</label>
                              <input type="password" class="form-control" name="password"  value="{% for i in student  %}{{i.admin.password}}{% endfor %}"  >
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Address</label>
                              <textarea   class="form-control" name="address" >{% for i in student  %}{{i.address}}{% endfor %}</textarea>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                               <label>Gender</label>
                               <select class="form-control" name="gender" >
                                   <option>Select Gender</option>
                                   <option value="Female">Female</option>
                                   <option value="Male">Male</option>
                                   <option value="Others">Others</option>
                               </select>
                           </div>
                       </div>
                        
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Select Course</label>
                              <select class="form-control" name="course" >
                                 <option>Select Course</option>
                                 {% for i in course  %}
                                 <option value="{{i.id}}">{{i.name}}</option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Season Year</label>
                              <select class="form-control" name="session_year" >
                                 <option>Select Year</option>
                                 {% for i in seassion_year  %}
                                 <option value="{{i.id}}">{{i.session_start}} To {{i.session_end}}</option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>
                       
                     
                        </div>
                        
                      
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Student Image</label>
                              <input type="file" class="form-control" name="profile-pic">
                           </div>
                        </div>
                       
                        <div class="col-12">
                           <button type="submit" class="btn btn-primary">Update Student</button>
                        </div>
                     </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
